# Ignore compiled files
*.class

# Ignore Maven and Gradle build folders
/target/
/build/


# Ignore Gradle build files and directories
.gradle/
build/


# Ignore dependency directories
/.idea/
/.vscode/
/node_modules/

# Ignore logs
*.log

# Ignore the .env or configuration files
.env

# Ignore temporary files
.DS_Store

